.priceChart{
    width: 100%;
    justify-content: center;
    align-content: center;
    background: #353535;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    align-items: stretch

}

.tv-lightweight-charts{
  z-index: 99;
}

.mainTop{
  display: flex;
  width: 100%;
  background-color: #353535;
  color: #d1d4dc;
  justify-content: space-around;
  /* padding: 2px 2px 2px 2px; */
  /* text-align: center; */
  font-size: 12pt
}
.mainTopLeft{ 
  flex: 1;
  margin: 2px;
  text-align: center;
  /* align-content: center;/ */
  
  line-height: 1.5;
}
.mainTopRight{
  flex: 1;
  margin: 2px;
  line-height: 1.5;
  /* padding-left: 5px; */
  text-align: left
}
.symbol{ 
  font-weight: 900;
  font-size: 14pt;
  color: rgb(255, 255, 255)
}

.trend[data-type='Sell']{
  font-weight: 900;
  color: red;
}

.trend{
  font-weight: 900;
  color: greenyellow;
}
.buttonHolder{
  flex: 0.5;
  display: flex;
  justify-content: space-evenly;
 
}
.name{
  flex: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #253248;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0px 0px 2px 1px;
}

.select{
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: aliceblue;
  height: 100%;
  border-bottom: solid;
  border-width: 1px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 px 1px 2px 1px;
  flex: 1;
}