html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
}
button{
  cursor: pointer
}
.App{
  /* text-align: center; */
  height: 100%;
  display: grid;
  grid-template-areas: "topbar topbar topbar"
                       "main main sidebar"
                       "main main sidebar";
  /* flex-direction: column; */
  /* flex: 1 */
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: 60px 2.5fr 100px;
  /* gap: 2px 2px  */
  /* grid-template: auto 2fr auto /auto 2fr auto */
}
.basic-grid{
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(750px))
}
.button {
  width: 70px;
  height: 20px;
  margin: 10px;
}
.main{
  display: flex;
  flex-wrap: wrap;
  /* padding: 2rem; */
  grid-area: main;
}

.header{
  /* padding: 2rem; */
  grid-area: topbar;
  /* grid-column: 1/4 */
}
.footer{
  grid-area: footer
  
}
