html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
}
.App{
  /* text-align: center; */
  height: 100%;
  display: grid;
  grid-template-areas: "topbar topbar topbar"
                       "main main sidebar"
                       "footer footer footer";
  /* flex-direction: column; */
  /* flex: 1 */
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: 60px 2.5fr 100px;
  /* gap: 2px 2px  */
  /* grid-template: auto 2fr auto /auto 2fr auto */
}
.basic-grid{
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(750px))
}
.button {
  width: 70px;
  height: 20px;
  margin: 10px;
}

.select{
  margin: 10px;
}
.main{
  display: flex;
  flex-wrap: wrap;
  /* padding: 2rem; */
  grid-area: main;
}

.header{
  /* padding: 2rem; */
  grid-area: topbar;
  /* grid-column: 1/4 */
}
.footer{
  grid-area: footer
  
}
.side{
  display: flex;
  /* position: relative;   */
  flex-direction: column;
  grid-area: sidebar;
  overflow: auto;
  background-color: #131723;
  align-items: center;
}
.sideChild{
  margin: 1px; 
  width: 100%;
  height: 60px;
  display: flex;
  border-bottom: solid;
  border-width: 1px;
  border-color: #3b3f4e
}
.sideChildDown{
  display: flex;
  width: 100%;
  max-height: 500px;
  flex-wrap: wrap;
}
.sideChildDown:hover{
  overflow-y: scroll
}
.sideChildTop{
  margin-bottom: 3px; 
  width: 100%;
  height: 80px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #3b3f4e
  /* background-color: red; */
}
.searchBar{
  background-color: #363a45;
  height: 35px;
  width: 70px;
  border-radius: 7px;
  margin: 0 1rem 0 1rem;
}
.searchBar:hover{
  flex-grow: 1;
  transition: 500ms
}
.sideChildTopUp{
  width: 100%;
  height: 45px;
  /* background-color: blue; */
  display: flex; 
  justify-content: center; 
  align-items: center
}
.sideChildTopDown{
  display: flex;
  width: 100%;
  color: #d1d4dc;
  /* background-color: green; */
  height: 35px;
}
.columnLabel:nth-child(-n+2){
  display: flex;
  flex: 1.3;
  /* background-color: brown; */
  height: 35px;
  width: 100%;  
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
}
.columnLabel:nth-child(n+3){
  display: flex;
  flex: 1;
  /* background-color: brown; */
  height: 35px;
  width: 100%;  
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
}

.coinName{
  flex: 1.3;
  display: flex;
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
  color: #b2b5be
}
.currPrice{
  flex: 1.3;
  display: flex;
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
  color: greenyellow
}

.currChg{
  display: flex;
  flex: 1;
  color: greenyellow;
  /* height: 35px; */
  width: 100%;  
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
}

.currChg[data-type='-']{
  display: flex;
  flex: 1;
  color: red;
  /* height: 35px; */
  width: 100%;  
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
}

.currChgPercent[data-type='-']{
  display: flex;
  flex: 1;
  color: red;
  width: 100%;  
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
}
.currChgPercent{
  display: flex;
  flex: 1;
  color:greenyellow;
  /* height: 35px; */
  width: 100%;  
  margin-left: 2px;
  margin-right: 2px; 
  justify-content: center;
  align-items: center;
}

.input{
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: #363a45;
  border: none;
  outline: none;
  color: #e2e5ee
}
