html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
}
button{
  cursor: pointer
}
.App{
  /* text-align: center; */
  height: 100%;
  display: grid;
  grid-template-areas: "topbar topbar topbar"
                       "main main sidebar"
                       "main main sidebar";
  /* flex-direction: column; */
  /* flex: 1 */
  position: relative;
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: 60px 2.5fr 100px;
  /* gap: 2px 2px  */
  /* grid-template: auto 2fr auto /auto 2fr auto */
}
.basic-grid{
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(750px))
}
.button {
  width: 70px;
  height: 20px;
  margin: 10px;
}
.main{
  display: flex;
  flex-wrap: wrap;
  /* padding: 2rem; */
  grid-area: main;
}

.header{
  /* padding: 2rem; */
  grid-area: topbar;
  /* grid-column: 1/4 */
}
.footer{
  grid-area: footer
}
.tutorial{
  position: absolute;
  place-items: center;
  display: grid;
  z-index: 5;
  width: 50%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-areas: "top"
                       "middle"
                       "bottom";
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: aliceblue;
}
.tutorial button{
  position: relative;
}
.tutorial h1,h3,p{
  color: white;
  text-align: center;
  line-height: 2;
}
.cc{
  font-weight: 700;
  color: greenyellow
}
.yl{
  font-weight: 700;
  color: #eefa41  
}
.pl{
  font-weight: 700;
  color: #f48fb1
}
.tutorialMiddle{
  grid-area: middle;
  width: 100%;
  max-height: 500px;
  flex: 2.5;
  background-color: #353535;
}

.tutorialBottom{
  grid-area: bottom;
  width: 100%;
  flex: 0.5;
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
}
.tutorialBottom button{
  height: 100%;
  width: 80px;
  margin: 3px;
}