#priceChart{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #353535;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    position: relative
}

.tv-lightweight-charts{
    position: absolute;
    width: 100%;
    height: 100%;
}